/* --- EMOJI FIX (Twemoji) --- */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    display: inline-block;
}

/* --- Базовые стили (анти-блик) --- */
html {
    background-color: #f3f4f6; /* gray-100 */
}

html.dark {
    background-color: #111827; /* gray-900 */
}

html.dark body {
    background-color: #111827;
    color: #f3f4f6;
}

/* --- Анимации --- */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.delay-2000 {
    animation-delay: 2s;
}

.delay-4000 {
    animation-delay: 4s;
}

.modal-open {
    display: flex !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Глобальные переходы для темы */
body, div, nav, main, button {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}